name: Build for MacOS Intel
on: [push]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v6

    - name: Set env
      run: if grep -Fxq "devel" version.txt;then echo "GO2TV_VERSION=$(cat version.txt)";else echo "GO2TV_VERSION=v$(cat version.txt)";fi  >> $GITHUB_ENV

    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: Install fyne
      run: go install fyne.io/tools/cmd/fyne@latest

    - name: Update FyneApp.toml version
      run: sed -i '' "s/^Version.*/Version = \"${{ env.GO2TV_VERSION }}\"/" cmd/go2tv/FyneApp.toml

    - name: Package (macOS)
      run:  export GOFLAGS="-ldflags=-X=main.version=${{ env.GO2TV_VERSION }}" && cd cmd/go2tv && fyne package --release --os darwin --icon  ../../assets/go2tv-icon.png  && mv go2tv.app ../../

    - uses: actions/upload-artifact@v4
      with:
        name: go2tv_${{ env.GO2TV_VERSION }}_macOS_amd64
        path: |
          LICENSE
          README.md
          go2tv.app/
        retention-days: 2
