name: Build for Windows
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Set env
      run: if grep -Fxq "devel" version.txt;then echo "GO2TV_VERSION=$(cat version.txt)";else echo "GO2TV_VERSION=v$(cat version.txt)";fi  >> $GITHUB_ENV

    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: Get dependencies
      run: sudo apt update && sudo apt install gcc xorg-dev gcc-mingw-w64

    - name: Install fyne
      run: go install fyne.io/tools/cmd/fyne@latest

    - name: Update FyneApp.toml version
      run: sed -i "s/^Version.*/Version = \"${{ env.GO2TV_VERSION }}\"/" cmd/go2tv/FyneApp.toml

    - name: Package (Windows)
      run: export GOFLAGS="-ldflags=-X=main.version=${{ env.GO2TV_VERSION }}" && cd cmd/go2tv && CGO_ENABLED=1 CC=x86_64-w64-mingw32-gcc CXX=x86_64-w64-mingw32-g++ fyne package --release --app-id app.go2tv.go2tv --os windows --icon  ../../assets/go2tv-icon.png && mv go2tv.exe ../../

    - uses: actions/upload-artifact@v4
      with:
        name: go2tv_${{ env.GO2TV_VERSION }}_windows_amd64
        path: |
          LICENSE
          README.md
          go2tv.exe
        retention-days: 2
