name: Build for Windows
on: [push]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v6

    - name: Set env
      shell: bash
      run: if grep -Fxq "devel" version.txt;then echo "GO2TV_VERSION=$(cat version.txt)";else echo "GO2TV_VERSION=v$(cat version.txt)";fi  >> $GITHUB_ENV

    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        path-type: inherit
        update: true
        install: >-
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-cppwinrt
          mingw-w64-x86_64-pkg-config

    - name: Update FyneApp.toml version
      shell: msys2 {0}
      run: sed -i "s/^Version.*/Version = \"${{ env.GO2TV_VERSION }}\"/" cmd/go2tv/FyneApp.toml

    - name: Package (Windows)
      shell: msys2 {0}
      run: |
        cd cmd/go2tv
        sed -i "s/version      = \"dev\"/version      = \"$(echo ${{ env.GO2TV_VERSION }} | sed 's/^v//')\"/" go2tv.go
        CGO_ENABLED=1 CC=gcc CXX=g++ go run fyne.io/tools/cmd/fyne@latest package --release --app-id app.go2tv.go2tv --os windows --icon ../../assets/go2tv-icon.png
        mv go2tv.exe ../../

    - uses: actions/upload-artifact@v6
      with:
        name: go2tv_${{ env.GO2TV_VERSION }}_windows_amd64
        path: |
          LICENSE
          README.md
          go2tv.exe
        retention-days: 2
