name: Build for ARM64
on: [push]

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Set env
      run: if grep -Fxq "devel" version.txt;then echo "GO2TV_VERSION=$(cat version.txt)";else echo "GO2TV_VERSION=v$(cat version.txt)";fi  >> $GITHUB_ENV
   
    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: Get dependencies
      run: sudo apt update && sudo apt install xorg-dev

    - name: Package (Linux)
      run: go build -tags migrated_fynedo -ldflags "-s -w -X main.version=${{ env.GO2TV_VERSION }}" -o go2tv cmd/go2tv/go2tv.go

    - uses: actions/upload-artifact@v4
      with:
        name: go2tv_${{ env.GO2TV_VERSION }}_linux_arm64
        path: |
          LICENSE
          README.md
          go2tv
        retention-days: 2