name: Tests
on: [push]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: Install Linux deps
      run: sudo apt update && sudo apt install xorg-dev libpipewire-0.3-dev pkg-config

    - name: Build
      run: go build -v ./...
    
    - name: Test
      run: go test -v ./...
